body {
    direction: rtl !important;
}

@media (min-width: 768px){
    #page-topbar {
        left: 0px;
        right: 250px;
    }
}

.footer{
    right:250px;
    left :0px ;
}

@media (min-width: 768px){
    .main-content {
        margin-right: 250px;
        margin-left: 0px;
    }
}
@media (min-width: 768px){
    [data-layout=vertical][data-sidebar-size=sm] #page-topbar, [data-layout=vertical][data-sidebar-size=sm-hover] #page-topbar {
        right: 70px;
        left: 0px;
    }
}


[data-layout=vertical][data-sidebar-size=sm-hover] .footer{
    right:70px;
    left:0px ;
}

[data-layout=vertical][data-sidebar-size=sm-hover] .main-content{
    margin-right: 70px;
    margin-left: 0px;
}

.metismenu {
padding: 2px;
}

.text-align{
    text-align: left;
    margin: 3px;
    
}
.vertical-overlay{
    background-color: transparent !important;
}

.grid{
    display: grid !important ;
    grid-template-columns: repeat(auto-fill,minmax(230px,1fr));
    width: 100%;
}
.border{
    border: 1px solid #ececec;
    border-radius: 7px ;
}



